{% extends "base.html" %}
{% block title %}<title>Forget Password </title>{% endblock %}

{% block body %}

<form method="post">
    {% csrf_token %}
        
        <section class="vh-100 gradient-custom">
            <div class="container mt-3">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5 shadow-lg p-3 mb-5 bg-body-tertiary rounded">
                        <!-- Added shadow and rounded classes to create a card-like effect -->
                        <div class="card bg-dark text-white" style="border-radius: 1rem;">
                            <div class="card-body p-5 text-center">
                                <div class="mb-md-3 mt-2">
                                    
                                    {% if messages %}
                                    <div class="alert alert-warning" role="">
    
                                   {% for message in messages %}

                                     {{message}}   

                                     {% endfor %}
                                </div>    
                                    {% endif %}


                                    <h2 class="fw-bold mb-2 text-uppercase">Forget Password?</h2>
                                    <p class="text-white-50 mb-5">Please enter your email!</p>

            

                                    <div class="form-outline form-white mb-4">
                                        <input type="email" placeholder="Email" name="email" required id="typeEmailX" class="form-control form-control-lg" />
                                        <label class="form-label" for="typeEmailX"></label>
                                    </div>
                                    
                                    <button class="btn btn-outline-light btn-lg px-5" type="submit">Submit</button>

                                    <p class="mb-0 mt-2">Already have an account? <a href="/login" class="text-white-50 fw-bold">Login in</a></p>
                                    
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>


{% endblock %}