{% extends "base.html" %}

{% block title %}
    <title>Home Page</title>
{% endblock %}

{% block body %}

    <div class="container mt-4">
        <div class="row justify-content-center"> <!-- Center the content -->
            {% for c in courses %}
                <div class="col-md-3"> <!-- Adjust column size for 4 items per row -->
                    <div class="card shadow p-3 mb-5 bg-body-tertiary rounded" style="width: 100%;">
                        <img src="/media/{{ c.course_image }}" class="card-img-top">
                        <div class="card-body">

                            <h5 class="card-title">{{ c.courses_name }}</h5>

                            {% if c.is_premium %}
                                <span class="badge text-bg-secondary">Premium</span>
                            {% else %}
                                <span class="badge text-bg-success">Free</span>
                            {% endif %}
                            <p class="card-text">{{ c.courses_description | safe| slice:":68" }}</p>
                            <a href="{% url 'course_details' c.slug %}" class="btn btn-primary">View Details</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    {% include "pagination.html" %}
{% endblock %}
